* {
  margin: 0;
  padding: 0;
}
body {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100%;
  font-family: "Courier New", Courier, monospace;
}

/* Menu */
.menu {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.logo {
  margin-top: 50px;
  margin-bottom: 10px;
  text-transform: uppercase;
  font-size: 2em;
  font-family: "Protest Guerrilla", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: white;
  text-shadow: -2px -2px 0 #292f36, 2px -2px 0 #292f36, -2px 2px 0 #292f36,
    2px 2px 0 #292f36;
}

/* Calculator */

.container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.calculator-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 600px;
  height: 700px;
  margin-top: 25px;
  margin-bottom: 50px;
  border-style: solid;
  border-color: cyan;
  border-radius: 50px;
  background-color: #292f36;
}

.screen-container {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-end;
  margin-top: 50px;
  width: 450px;
  height: 100px;
  border-color: white;
  border-radius: 4px;
  border-style: solid;
  border-width: 2px;
  font-size: 50px;
  background-color: #292f36;
  color: white;
  overflow: hidden; /*this prevents from numbers to overflow the screen */
  text-overflow: ellipsis;
}

.buttons-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  margin-top: 50px;
  margin-bottom: 50px;
  width: 450px;
  height: 500px;
}
.buttons-container > button {
  flex-basis: calc(25% - 10px);
  margin: 5px;
  color: ghostwhite;
  border: 2px solid ghostwhite;
  text-align: center;
  line-height: 1;
  background-color: transparent;
  outline: none;
  border-radius: 4px;
  font-size: 20px;
  transition: all 0.25s ease;
}
.buttons-container > button.zeroButton {
  flex-grow: 2;
}

.buttons-container > button.operations:hover {
  border-color: #ff00ff;
  color: #ff00ff;
}

.buttons-container > button.clearDelete:hover {
  border-color: rgb(238, 198, 37);
  color: rgb(238, 198, 37);
}

button:hover {
  color: white;
  background-color: #292f36;
  cursor: pointer;
  border: 3px solid cyan;
  color: cyan;
  transform: translateY(2px); /* Move the button down slightly */
  box-shadow: 0 0 5px rgba(255, 255, 255, 0.5); /* Add a subtle box shadow */
}

/* Footer */
.footer {
  display: flex;
  justify-content: center;
  font: 17px;
}

@media only screen and (max-width: 768px) {
  /* Styles for screens with a maximum width of 768px (e.g., mobile devices) */
  body {
    background-color: lime;
  }
  .logo {
    margin-top: 25px;
    margin-bottom: 5px;
    text-transform: uppercase;
    font-size: 1.5em;
    font-family: "Protest Guerrilla", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: white;
    text-shadow: -2px -2px 0 #292f36, 2px -2px 0 #292f36, -2px 2px 0 #292f36,
      2px 2px 0 #292f36;
  }
  .calculator-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 400px;
    height: 500px;
    margin-top: 25px;
    margin-bottom: 50px;
    border-style: solid;
    border-color: cyan;
    border-radius: 50px;
    background-color: #292f36;
  }

  .screen-container {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-end;
    margin-top: 50px;
    width: 300px;
    height: 75px;
    border-color: white;
    border-radius: 4px;
    border-style: solid;
    border-width: 2px;
    font-size: 25px;
    background-color: #292f36;
    color: white;
    overflow: hidden; /*this prevents from numbers to overflow the screen */
    text-overflow: ellipsis;
  }
  .buttons-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    margin-top: 50px;
    margin-bottom: 50px;
    width: 350px;
    height: 400px;
  }
  .buttons-container > button {
    flex-basis: calc(25% - 10px);
    margin: 5px;
    color: ghostwhite;
    border: 2px solid ghostwhite;
    text-align: center;
    line-height: 1;
    background-color: transparent;
    outline: none;
    border-radius: 4px;
    font-size: 20px;
    transition: all 0.25s ease;
  }
}
