* {
  margin: 0;
  padding: 0;
}
body {
  display: flex;
  flex-direction: column;
  border: black;
  height: 100vh;
  width: 100%;
  font-family: "Courier New", Courier, monospace;
}

/* Menu */
.menu {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.logo {
  margin-top: 50px;
  margin-bottom: 10px;
  text-transform: uppercase;
  font-size: 2em;
  font-family: "Luckiest Guy", cursive;
  font-weight: 400;
  font-style: normal;
  color: white;
  text-shadow: -2px -2px 0 #292f36, 2px -2px 0 #292f36, -2px 2px 0 #292f36,
    2px 2px 0 #292f36;
}

/* Calculator */

.container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.calculator-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 600px;
  height: 700px;
  margin-top: 25px;
  margin-bottom: 50px;
  border-style: solid;
  border-color: cyan;
  border-radius: 50px;
  background-color: #292f36;
}

.screen-container {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-end;
  margin-top: 50px;
  width: 450px;
  height: 100px;
  border-color: white;
  border-radius: 4px;
  border-style: solid;
  border-width: 2px;
  font-size: 50px;
  background-color: #292f36;
  color: white;
}

.buttons-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  margin-top: 50px;
  margin-bottom: 50px;
  width: 450px;
  height: 500px;
}
.buttons-container > button {
  flex-basis: calc(20% - 10px);
  margin: 5px;
  color: ghostwhite;
  border: 3px solid ghostwhite;
  text-align: center;
  line-height: 1;
  background-color: transparent;
  outline: none;
  border-radius: 4px;
  font-size: 18px;
  transition: all 0.5s ease;
}
.buttons-container > button.equalSign {
  flex-grow: 2;
}

.buttons-container > button.operations {
  border-color: #ffff00;
}

.buttons-container > button.clearDelete {
  border-color: #ff00ff;
}

button:hover {
  color: white;
  background-color: #292f36;
  cursor: pointer;
  border-color: cyan;
}

/* Footer */
.footer {
  display: flex;
  justify-content: center;
  font: 17px;
}
